* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Archivo', sans-serif;
    font-size: 1.8rem;
}

html {
    font-size: 62.5%;
}

button {
/*     border: 0;
    background-color: transparent; */
    cursor: pointer;
}

img {
    max-width: 100%;
    display: block;
}

.container {
    width: 100%;
    max-width: 143.5rem;
    margin: 0 auto;
    padding: 0 1.5rem;
    @media(max-width: 1440px) {
        max-width: 124.8rem;
    }
}


body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  .content {
    .title {
        margin: 2rem;
    }
  }
}


